* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}


header {
    height: 50px;
    text-align: right;
}

header button {
    background-color: #4A4A4A;
    color: #fff;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
}

main {
    height: calc(100vh - 130px);
    background-color: darkgray;
}

.partecipants-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    overflow-y: auto;
    padding: 20px 0;
}

.partecipant {
    position: relative;
    width: 250px;
    height: 150px;
    border: 3px solid #000;
}

.partecipant img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.partecipant .name{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
    padding: 5px;
    white-space: nowrap;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}


footer{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: #222;
}

.footer-left, .footer-center, .footer-right{
    display: flex;
    flex-shrink: 0;
}

footer .icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    height: 100%;
    padding: 10px;
    cursor: pointer;
}

footer .icon .green{
    color: #4BC800;
}

.footer-right button {
    color: #f00;
    background-color: #4A4A4A;
    border: 0;
    cursor: pointer;
    padding: 0 20px;
}